*{
    font-family: 'Work Sans', sans-serif;  
    box-sizing: border-box;
}
nav{
  background-color: #FFFFFF;
  margin-bottom: 70px;
}
.nav-container{
    
  min-height: 50px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-logo{
margin-left: 50px;
padding-left: 20px;
width: 50%;
}
.nav-logo img{
width: 40px;
}
.nav-detail{
text-align: center;
font-size: 26px;
font-weight: 700;

}
.game{
  color: #FF42A5; 
}
.nav-item {
    justify-content: space-evenly;
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: #3C354F;
    font-size: 15px;
    font-weight: 500;

}
.follow-btn{
  background-color:lightgray;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  align-items: center;
  padding-bottom: 13px;
  padding-top: 10px;
  
 
  
}
.follow-icon{
  width: 25px;
  padding-left: 6px;
  
}
.banner-container{
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.banner-text{
  border: 1px solid green;
  width: 50%;
}
.banner-title{

}
.banner-detail{

}
.icon{
  
}
.banner-img{
border: 1px solid blue;
width: 50%;
}