/* for mobile */
@media screen and (max-width:576px) {
  .nav-container {
      flex-direction: column;
      overflow: hidden;
      margin-top: 40px;
          
  }
  .nav-item{
      flex-direction: column;
     margin-top:16px ;
     gap: 12px;
     overflow: hidden;
    
  }
  .banner-container{
    flex-direction: column;
    margin-top: 0px;
    background-image: none;
    margin-left: 38px;
   
   
  
  }
  .banner-detail {
    font-size: 45px;
  }
  .banner-img-container{
   width: auto;
    margin-top: 25px;
 
  }
  .banner-title{
    font-size: 35px;
   
  }
  .banner-text{
    width: auto;
  }
  .icon{
    font-size: 15px;
  }
}
  /* for tablet */
@media screen and (min-width:576px) and (max-width:960px)  {
  .nav-item{
    gap: 50px;
    overflow: hidden;
  }
        
}

