/* for mobile */
@media screen and (max-width:576px) {
  .nav-container {
      flex-direction: column;
      overflow: hidden;
      margin-top: 40px;
          
  }
  .nav-item{
      flex-direction: column;
     margin-top:16px ;
     gap: 12px;
     overflow: hidden;
    
  }
  .banner-container{
   overflow: hidden;
    flex-direction: column;
    margin-top: 0px;
    background-image: none;
   
  }
  .banner-text, .banner-img-container{
    width: 100%;
  }
  .banner-title{
    font-size: 30px;
  }
  .banner-img{
   width: 100%;
  }
  .banner-detail{
    font-size: 40px;
  }
  .icon{
    font-size: 13px;
  }
  .banner-text{
    margin-left: 100px;
  }
  .game-section{
    grid-template-columns: 1fr;
    width: 70%;
  }
   
   
  
 

  
}
  /* for tablet */
@media screen and (min-width:576px) and (max-width:960px)  {
  .nav-item{
    gap: 50px;
    overflow: hidden;
  }
  .nav-container{

   margin-right: 60px;
  }
        
}

